.resume {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--colorBG3);
}

.resumeLink {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    padding: 20px;
    font-size: max(1vw, 20px);
    background-color: var(--colorBG2);
    text-decoration: underline;
}

.resumeLink, 
.resumeLink:visited, 
.resumeLink:hover, 
.resumeLink:active {
    color: var(--colorFG);
}

@media (max-width: 1150px){
    .resume {
        height: 100%;
    }
}

@media (min-width: 850px) {
    .resume {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (min-width: 1200px) {
    .resume {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}